[Desktop Entry]
Type=Application
Exec=Diesel
Icon=diesel
Terminal=false
Name=Diesel
GenericName=Software Configuration Management tool
Comment=GUI Front-End to the Fossil SCM tool
Categories=Development;RevisionControl;