[Desktop Entry]
Type=Application
Exec=Fuel
Icon=fuel
Terminal=false
Name=Fuel
GenericName=Software Configuration Management tool
Comment=GUI Front-End to the Fossil SCM tool
Categories=Development;RevisionControl;